@model int[]
@*C:\Windows\Microsoft.NET\Framework\v4.0.30319\Temporary ASP.NET Files\vs\8ad62576\2dd057a4\App_Web_razortest.cshtml.a8d08dba.tnlnqjoc.0.cs(31)*@

@foreach (var i in Model)
{
    @i
}

 
@foreach (var i in Model)
{
    @(i+" ")
}


<ul>  
    @foreach (var i in Model)
    {
  <li>@(i)</li>
        
    }
</ul>  